
div.tabNav { padding:5px 0 0 0px; background:transparent; border-bottom:1px solid #aaa; }
div.tabNav ul.navi, #tabs ul.navi li { margin:0; list-style:none; }
div.tabNav ul.navi { background:transparent; padding:0; }
div.tabNav.HorizontalTabSet ul.navi li { float:left; margin:0 0 -1px; font-size:12px; }
div.tabNav ul.navi li a { text-decoration:none; outline:0; display:block; float:left; padding:3px 10px; background:#aaa; margin:5px 5px 0 0; color:#fff; border:1px solid #aaa; }
div.tabNav ul.navi li a:hover { background:#bbb; text-decoration:none; }
div.tabNav ul.navi li a.selected { background:#fff; color:#777; border-color:#aaa; border-bottom-color:#fff; }
.horiz_tabs {padding-top:10px;}


.clearfix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
